<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-inverse " style="background-color: #284b63;">
          <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'photosUrl' %}">View Photos</a>
           
          </div>
            <form class="navbar-form navbar-right" role="search" action="{% url 'search_results' %}">
                

              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Article" name="article">
                <div class="input-group-btn">
                  <button class="btn btn-info" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
              </div>

            </form>     
    </nav>
</body>
</html>